<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="mybind" sendTimeout="00:00:03" openTimeout="00:00:03" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WcfServer.MyService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8082/WcfSample"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="mybind" contract="WcfServer.IMyService" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>